/* Стили для подвала сайта */
.footer {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	color: #ffffff;
}

.footer__block {
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
	width: 31%;
}

.footer__block:last-of-type{
    background-color: transparent;
}

.footer__list {
	margin: 0;
	padding: 20px 40px;
}

.footer__block:first-of-type .footer__list{
    list-style: none;
    padding: 20px;
    column-count: 2;
}

.footer__list-item {
	font-size: 16px;
	margin-bottom: 5px;
}

@media screen and (max-width: 630px) {

    .footer__block{
        width: 48%;
    }
    .footer__block:last-of-type{
        margin-top: 20px;
        height: 200px;
        width: 100%;
    }
}

.footer__block-item {
    background-color: #444444;
    width: 100%;
    height: 45%;
  }
  
  footer__block-item:last-of-type{
    margin-bottom: 0;
  }